body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px;
    border-bottom: 1px;
    border-color: white;
    border-style: solid;
}

.header-left {
    margin-left: 25px;
}

.header-right {
    margin-right: 25px;
    list-style: none;
}

.header-right li a {
    padding: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-content {
    width: 50%;
    height: 40vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content img{
    border-radius: 100%;
    width: 60%;
    height: 75%;
}

.right-content {
    background-color: white;
    width: 50%;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}